p {
    color: whitesmoke;
    font-size: large;
    line-height: 1.5;
   
}

body {
    
    background: #09000a;
    color: whitesmoke;
    line-height: 1.6;
    font-family: Arial, sans-serif;
    margin: 0;

}

  h1 {
    color: deeppink;
    font-size: 40px;
    

  }

h2 {
    color:wheat;
    -webkit-text-stroke: 1.0px black;
    
}

h3 {
    color:rgb(0, 255, 221);
}

h4 {
    color:mediumpurple;
}

h1 {
    rgb(0, 255, 221);
}


  li {
    color:whitesmoke;
    line-height: 1.5;
  }
  

   dl {
    color: white;
 }

a {
    display: inline-block;
    padding: 5px 6px;
    background-color: #ba9cc5;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s;

}

header {
    
    padding: 40px;
    text-align: center;
    border-bottom: 3px solid deeppink;
    background-image: url('nav2.png');
    background-size: cover; /* Faz a imagem cobrir todo o espaço */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    height: 300px;
}

header h1 {
    color: rgb(0, 255, 221);
    font-size: 40px;
    margin-bottom: 15px;
}

nav a {
    margin: 5px;
}

footer {
    background-color: #41022d;
    color: whitesmoke;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    border-top: 3px solid deeppink;
}

footer p {
    margin: 0;
    font-size: 16px;
}


 ul {
    background-color:rgb(48, 1, 14); /* Cor de fundo da caixinha */
    border: 2px solid #ccc; /* Cor e espessura da borda */
    border-radius: 8px; /* Cantos arredondados */
    padding: 20px; /* Espaço entre o texto e a borda */
    width: 300px; /* Largura fixa da caixinha */
    
    
    
 }
  
